.DS_Store

# Folders
/src/__pycache__
/venv
/apenv
data/US_Pictures
/US_Pictures
/data/US_Pictures_Filled
/US_Pictures_Filled
/data/US_Pictures_Clean
/US_Pictures_Clean
/notebooks/Deepfill_Temp_Dir

.virtual_documents/
**/.ipynb_checkpoints
/*.ipynb.layout
*.ipynb.layout